<div class="banner">
  <div class="container">
    <h1><strong>Cocktails for you!</strong></h1>
  </div>


<div class="container">
  <div class="row">
    <% @cocktails.each do |c| %>
    <div class="col-4">
        <div class="card">
          <p>
            <%= c.id %>
            <%= link_to c.name, cocktail_path(c) %>
          </p>
        </div>
      </div>
    <% end %>
  <p><%= link_to 'Other Cocktail', new_cocktail_path %></p>
</div>
</div>
