// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #3d3473;
}

.cocktail-title {
  color: white;
  padding: 20px;
}

.cocktail-list {
  list-style: none;
  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: grey;
    }
  }
}
